@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@500&family=Poppins:wght@500&display=swap');

html {
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
  }